<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <a href="{% url 'create_room' %}">
        <h1>Create Room</h1>

    </a>
    <h1>Welcome To home page</h1>
    <hr>
    <hr>
    <hr> {% for room in rooms%}
    <br>
    <a href="{%url 'update' room.id%}">
        <h1> Edit </h1>
    </a>
    <br>
    < <a href="{%url 'delete' room.id%}">
        <h1>Delete</h1>
        </a>
        <br>
        <div>
            <span> @{{room.host.username}} </span>
            <h2>
                {{room.id}} -- <a href="{%url 'room' room.id%}"> {{room.name}} </a>
            </h2>
            <br>
            <small>->{{room.topic.name}}</small>
        </div>
        {%endfor%}
</body>

</html>