
{% extends 'main.html' %}
{% block content%}
<h1>Room page</h1>

<h1> {{room.id}}....{{room.name}} </h1> 
<p>{{room.description}}</p>
  <div class="comment-wrapper">
    <h3>Conversations</h3>
    <hr>
    {% for message in room_message %}
    <div>
      <small> 
        @{{message.user}} {{mesage.created|timesince}} ago
      </small>
      <p>{{message.body}}</p>
    </div>
    {% endfor %}
  </div>
{% if request.user.is_authenticated %}
  <div class="comment-form">
    <form action="" method="post">
      {%csrf_token%}
      <input type="text" name = "body" placeholder = "write your message here" />
      <input type="submit" value="Submit" />
    </form>
  </div>
  {% endif %}
{% endblock %}
